<section class="section video" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center">
                <div class="left-content">
                    <p class="bold-white-font">Sección</p>
                    <h4><em>Administración</em></h4>
                    
                        {{#unless participantes}}
                            <p class="p-5 mb-3 text-center bg-dark text-light">No hay participantes registrados aún</p>
                        {{/unless}}

                        {{#if participantes}}
                            {{> tablaParticipantes}}
                        {{/if}}
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function updateEstado(id, cbx) {
        axios.put("/participantes/"+id, {
            estado : cbx.checked
        })
        .then((mensaje) => {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: mensaje.data,
                showConfirmButton: false,
                timer: 1500
            })
        });
    }
</script>