{{#if error}}
<div class="container-fluid error-section">
    <div class="text-center bg-light p-5 m-5 w-50 mx-auto">
        <h2 class="mb-4 lead">Oops, ha ocurrido un error</h2>
        <h3 class=>{{error}}</h3>
        <h4 class="bg-warning p-3 lead">{{message}}</h4>
    </div>
</div>
{{/if}}