<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p> Desafío Latam
                    | Prueba Final <a href="" rel="sponsored">Skate Park</a><br>
                    <a href="" rel="sponsored"><i class="fa fa-copyright"></i> Diana Quinteros G</a>

                </p>
            </div>
        </div>
    </div>
</footer>
