<!--header-->
<header class="main-header clearfix" role="header">
    <div class="logo">
        <a href="/"><em>Skate</em> Park</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="/" class="external">Participantes</a></li>
            <li><a href="/Registro" class="external">Registro</a></li>
            <li><a href="/Login" class="external">Login</a></li>
        </ul>
    </nav>
</header>